@import
url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.calculator 
{
    position: absolute;
    width: 361px;
    height: 423px;
    
    background: #FFFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
}

.display-box 
{
font-family: 'Courier New', Courier, monospace;
background-color: #dcdbe1;
border: solid black 0.5px;
color: black;
border-radius: 5px;
width: 100%;
height: 65%;
}

#btn {background-color:orangered;}

input[type=button] 
{
    font-family: 'Courier New', Courier, monospace;
background-color:silver;
color: black;
font-weight:bolder;
font-size: larger;
border: solid white 1px;
width: 80%;
border-radius:50%;
height: 70%;
outline: none;
}

input:active[type=button] 
{
background: palevioletred;
-webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
-moz-box-shadow: inset 0px 0px 5px #c1c1c1;
box-shadow: inset 0px 0px 5px #c1c1c1;
}